# Ignore everything
*

# Allow plugin files
!wp-content/plugins/wp-woocommerce-printify-sync/

# Ignore development files in plugin directory
wp-content/plugins/wp-woocommerce-printify-sync/node_modules/
wp-content/plugins/wp-woocommerce-printify-sync/.env
wp-content/plugins/wp-woocommerce-printify-sync/*.log

# Ignore version control
.git/
.gitignore