# Ignore everything
*
!.env
!php.ini
!composer.json
!composer.lock
!wait-for-it.sh

# Allow plugin files
!wp-content/plugins/wp-woocommerce-printify-sync/
!wp-config-project.php

# Ignore version control
.git/
.gitignore