on: push
name: Deploy On Push
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: WooCommerce Printify

    steps:
    - name: Get latest code
      uses: actions/checkout@v4
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}