parameters:
    level: max
    paths:
        - /
    excludePaths:
        - wp/*
        - vendor/*
        - node_modules/*
        - .github/*
    memoryLimit: 512M
    tmpDir: %currentWorkingDirectory%/tmp